body {
  font-size: 16px;
  background: #cef9dc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 900px;
  padding: 0 20px 20px;
  background: #4df9b9;
  border-radius: 20px;
  margin: auto;
}

.container > h1 {
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid #333;
  padding: 16px 0;
}

.box {
  padding: 20px 0;
  border-bottom: 1px solid #333;
  text-align: center;
}

.mainContainer {
  width: 800px;
  margin: 20px auto 0;
}

.subContent .showAmount{
  width: 160px;
  margin: 0 auto;
  background: #fff;
  text-align: center;
  line-height: 30px;
  border: 2px solid #2db986;
  border-radius: 20px;
  padding: 5px;
}

.subContent div p {
  margin: 0 auto;
}

.btnGroup button:nth-of-type(1) {
  display: block;
  margin: 0 auto 0 0;
}

.btnGroup button:nth-of-type(3) {
  float: right;
}

.selectBtn {
  margin: 20px auto 0;
}

.selectBtn p {
  text-align: center;
  color: #333;
  font-size: 13px;
  font-weight: bold;
}

.selectBtn select {
  display: block;
  margin: 0 auto;
  padding: 5px;
}

.listContainer {
  clear: both;
  margin-top: 10px;
}

.navBar, label, .editContent {
  display: flex;
  height: 35px;
  text-align: center;
  line-height: 35px;
}

.editContent {
  justify-content: space-around;
}

.navBar {
  background: #ddd;
  font-weight: bold;
  color: #333;
}

label {
  border-bottom: 1px solid #ccc;
}

.navBar > :nth-child(1), label > input[type="checkbox"] {
  width: 50px;
}

.navBar > :nth-child(2), label > div:nth-of-type(1) {
  width: 380px;
}

.navBar > :nth-child(3), label > div:nth-of-type(2) {
  width: 210px;
}

.navBar > :nth-child(4), label > div:nth-of-type(3) {
  width: 70px;
}

.navBar > :nth-child(5), label > div:nth-of-type(4) {
  flex: 1;
}

.navBar > div + div, label > :not(:first-child){
  border-left: 2px solid #ccc;
}

label > input[type="checkbox"] {
  align-self: center;
  margin: 0;
}

label > div:nth-of-type(3), label > div:nth-of-type(4) {
  display: flex;
}

label button {
  align-self: center;
  margin: 0 auto;
  font-size: 13px;
  cursor: pointer;
  color: #08c;
}

.list {
  text-align: center;
  line-height: 35px;
}

.listArea {
  min-height: 200px;
  max-height: 200px;
  overflow-y: scroll;
  background: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
}

form > input[type="text"] {
  padding: 5px;
  margin-right: 5px;
}

.editContent > input {
  display: block;
  align-self: center;
}

.editContent > input[type="text"] {
  height: 15px;
  margin: 0;
}

.editContent > input[type="submit"] {
  font-size: 13px;
  height: 26px;
}

.editContent > button {
  align-self: center;
  font-size: 13px;
  color: #333;
  margin: 0;
}

button, input[type="submit"], input[type="checkbox"], select {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: #ccc;
}